@font-face {
  font-family: 'Geist';
  src: url('../fonts/GeistVariableVF.ttf') format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Geist', fallback;
  display: flex;
  align-items: center;
  /* This will vertically center the flex child (your container) */
  justify-content: center;
  /* This will horizontally center the flex child if needed */
  min-height: 100vh;
  /* Use min-height to ensure it at least covers the viewport height */
  margin: 0;
  /* Remove default margin */
}

.p {
  margin-bottom: 0rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem !important;

}

.custom-width {
  width: 80px;
}

@media (max-width: 767.98px) {
  .custom-margin-top {
    margin-top: 130px !important; /* replace with your desired margin-top */
  }
}

.negative-letter-spacing {
  letter-spacing: -0.03em; /* Example of a negative letter-spacing value */
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blue-bg {
  background-color: #205ea6;
}

.green-bg {
  background-color: #66800c;
}

.purple-bg {
  background-color: #5e419d;
}

.hard-background  {
  background-color: #ecc9c9ff;
}

.dark-red-bg  {
  background-color: #7A221D;
}

.slide-background {
  background-color: #b7b7b7ff;
}

.hate-text {
  color: #af312a !important;
}

.text-custom {
  color: #1c1c1c;
}

.margin-hero {
  margin-left: 0vw;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10; /* Replace '3' with the number of lines you want to clamp to */
}

.hero-text {
  font-size: 124px; 
  font-weight: 900; 
  line-height: 75%;
  
}

/* Flipped text styles */
.flipped-text {
  display: inline-block;
  transform: scaleX(-1);
}

/* Media query for screens from 768px to 960px */
@media (min-width: 768px) and (max-width: 1280px) {
  .hero-text {
      font-size: 120px; 
      /* Adjust the font size as needed for the specified screen width range */
  }
}

.bg-orange {
  background-color: #bc5215;
}

.bg-red {
  background-color: #af312a;
}

.bg-gray {
  background-color: #e1dfd1;
}

.bg-yellow {
  background-color: #ad8302;
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 10px solid #1c1c1c !important;
}