@font-face {
  font-family: 'Geist';
  src: url('../fonts/GeistVariableVF.ttf') format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Geist', fallback;
  display: flex;
  align-items: center;
  /* This will vertically center the flex child (your container) */
  justify-content: center;
  /* This will horizontally center the flex child if needed */
  min-height: 100vh;
  /* Use min-height to ensure it at least covers the viewport height */
  margin: 0;
  /* Remove default margin */
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 5px;
}


.center-helper {
  margin-left: 10px !important;
}

.card-custom-width {
  width: 95%;
  margin: 0 auto;
  /* Center the card within the column */
}

.negative-letter-spacing {
  letter-spacing: -0.05em; /* Example of a negative letter-spacing value */
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.soft-background {
  padding: 100px 50px 100px 50px;
  background-color: #f7f7f8ff;
}

.hard-background  {
  background-color: #ecc9c9ff;
}

.new-background  {
  background-color: #e7e7e7ff;
}

.slide-background {
  background-color: #b7b7b7ff;
}
