@font-face {
  font-family: 'Geist';
  src: url('../fonts/GeistVariableVF.ttf') format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Geist', fallback;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 768px) {
  .avatars-positions {
    position: relative;
    left: 24px;
    top: 18px;
  }
}

@media (min-width: 768px) {
  .custom-position-content {
    position: relative;
    left: 35px;
  }
}

@media (min-width: 1200px) {
  .custom-position-content {
    position: relative;
    left: 100px;
  }
}

@media (min-width: 1400px) {
  .custom-position-content {
    position: relative;
    left: 130px;
  }
}

.custom-width {
  width: 80px;
}


.custom-margin-top {
  margin-top: -8px !important;
  /* replace with your desired margin-top */
}

.negative-letter-spacing {
  letter-spacing: -0.03em;
  /* Example of a negative letter-spacing value */
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem !important; */
}

.card-body.custom-padding {
  padding-left: 0px;
  padding-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toxicity-meter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 0.9em;
}

.traffic-light {
  display: flex;
  margin: 0 10px;
}

.light {
  border: 1px solid #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 2px;
  background-color: #fffcf0;
}

.toxicity-level {
  text-transform: capitalize;
  /* Esto asegura que la primera letra sea mayúscula */
}



.toxicity-meter.custom-layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Asegura que el contenido se alinea a la izquierda */
}

.traffic-light.custom-margin {
  margin-right: 10px;
}

.hate-text-color {
  color: #84c6c6;
}

.hero-text {
 
  font-weight: 900;

}

/* Flipped text styles */
.flipped-text {
  display: inline-block;
  transform: scaleX(-1);
  position: relative;
  left: -1px;
}

.text-bajada {
  font-weight: 900;
  letter-spacing: -0.7px;
  line-height: 14px;
  margin-top: 25px;
  min-width: 234px !important;
  /* Ajusta este valor según sea necesario */
  position: relative !important;
  z-index: 2 !important;
  /* Asegúrate de que el texto se muestre sobre otros elementos */
}

.pic-size {
  width: 50%;
  height: auto;
}

@media (min-width: 768px) {
  .pic-size {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .pic-size {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1024) {
  .pic-size {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .pic-size {
    width: 58%;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .pic-size {
    width: 58%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .negative-margin {
    margin-left: 90px !important;
  }
}

@media (min-width: 992px) {
  .negative-margin {
    margin-left: 60px !important;
  }
}

@media (min-width: 1024px) {
  .negative-margin {
    margin-left: 60px !important;
  }
}

@media (min-width: 1200px) {
  .negative-margin {
    margin-left: -120px !important;
  }
}



.github-positioning {
  text-align: start;
}

.bg-orange {
  background-color: #bc5215;
}

.bg-red {
  background-color: #af312a;
}

.bg-gray {
  background-color: #e1dfd1;
}

.bg-yellow {
  background-color: #ad8302;
}

.blue-bg {
  background-color: #205ea6;
}

.green-bg {
  background-color: #66800c;
}

.purple-bg {
  background-color: #5e419d;
}

.hard-background {
  background-color: #ecc9c9ff;
}

.dark-red-bg {
  background-color: #7a1e19;
}

.slide-background {
  background-color: #b7b7b7ff;
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 10px solid #1c1c1c !important;
}