<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="/static/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    
    <!-- Main content block -->
    {% block content %}{% endblock content %}    
        
    <!-- Footer included -->
    {% include 'footer.html' %}

    <!-- Footer included -->
    {% include 'speech.html' %}
    <!-- Scripts block -->
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
