<footer
    class="mt-auto md:fixed md:bottom-[10vh] max-w-1/3 mx-auto w-full md:max-w-1/3 flex justify--start md:justify-center items-center bg-gray-200 p-4 md:text-lg space-x-2 md:space-x-1">
    <!-- Copyright icon and current year -->
    <div class="flex items-center space-x-2 text-[10px] md:text-[12px] ml-8">
        <i class="fas fa-copyright"></i>
        <p id="year"></p>
    </div>

    <!-- Paragraph -->
    <p class="md:text-[12px] hidden md:block">Iniciativa <b>ahora </b>de</p>

    <!-- Space for logo -->
    <img src="/static/public/Logo_ATX.png" alt="Logo" class="h-2 md:h-3 relative md:bottom-[1px] scale-80">

    <!-- Login -->
    <a href="/login" class="relative left-[1px] bg-[rgb(253_255_10_/_100%)] h-6 w-6 rounded-full">
        <i class="fas fa-sign-in-alt md:scale-75 relative left-[2px] md:bottom-[1px]"></i>
    </a>


</footer>

<script>
    // Automatically update the year
    document.getElementById('year').textContent = new Date().getFullYear();
</script>