<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>X Temp.</title>
</head>

<body>
  {% extends "bootstrap/base.html" %}

  {% block content %}
  <div class="container">
    <h4 class="pt-4 text-muted" style="margin-top: 30px; margin-left: 2px;">X Temp.</h4>
    <h3 class="text-uppercase display-2 font-weight-bold" style="margin-top: -7px;"><b>Real-time political temperature (TWITTER/AR).</b></h3>
  </div>

  <div class="container">
    <p style="margin-top: 6px;">--</p>
  </div>

  <!-- Add a new section for displaying the list of phrases -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Current Phrases</h4>
        <p class="lead">
        {% for phrase in new_list %}
          {{ phrase }}
        {% endfor %}
        </p>
        <small>Last fetch happened at: {{ last_fetch }}</small>
      </div>
    </div>
  </div>

  {% endblock %}

</body>





</html>
