<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>X Temp.</title>
</head>

<body>
  {% extends "bootstrap/base.html" %}

  {% block content %}
  <div class="container">
    <h4 class="pt-4 text-muted" style="margin-top: 30px; margin-left: 2px;">X Temp.</h4>
    <h3 class="text-uppercase display-2 font-weight-bold" style="margin-top: -7px;"><b>Real-time political temperature (TWITTER/AR).</b></h3>
  </div>

  <div class="container">
    <p style="margin-top: 6px;">--</p>
  </div>

  <!-- Add a new section for displaying current engagement of the first user -->
  <div class="container">
    <h4>Current Engagement of User 1</h3>
      <p id="current-engagement-1" class="lead" style="margin-top: -6px">{{ engagement1 }}</p>
  </div>

<!-- Add a new section for displaying current engagement of the second user -->
  <div class="container">
    <h4>Current Engagement of User 2</h3>
      <p id="current-engagement-2" class="lead" style="margin-top: -6px">{{ engagement2 }}</p>
  </div>
  <div class="container">
  <small>1. Engagement is obtained by tracking likes, retweets, and replies.</small>
  <small>2. Last fetch happened at: {{ last_fetch }}</small>
</div>
  {% endblock %}


</body>

</html>
