{% extends "base.html" %}

{% block title %}Odio oído: versión MVP para desarrollo{% endblock %}

{% block content %}

<div class="flex items-center justify-center min-h-screen"> <!-- Full viewport height and centering utilities -->
    <div class="w-full max-w-screen-xl px-4 lg:px-8 mx-auto"> <!-- Horizontal centering and max width -->
        <div class="flex flex-wrap items-center justify-center custom-position-content"
            style="--tw-translate-x: 35px; @media (min-width: 768px) { --tw-translate-x: 35px; } @media (min-width: 1024px) { --tw-translate-x: 100px; } @media (min-width: 1280px) { --tw-translate-x: 130px; }"
            x-data
            x-init="$el.style.transform = `translateX(${getComputedStyle($el).getPropertyValue('--tw-translate-x')})`">    
            <div class="w-full md:w-1/12 md:ml-2/12 -mt-3 ml-16 mr-6 bg-white bg-clip-border border border-solid border-gray-200 rounded-md text-center cursor-pointer font-extrabold"
                style="height: 82px;">
                <div id="argentina" class="mt-4">.AR</div>              
                <div id="chile">.CH</div>
            </div>
            <div class="w-full md:w-4/12 lg:w-4/12 xl:w-4/12" style="max-width: 250px;"> <!-- COLUMNA DASHBOARD -->
                <div class="mb-1">
                    <div class="flex justify-between">
                        {% if last_total_increase %}
                        {% set now = datetime.now(pytz.timezone('America/Montevideo')) - timedelta(minutes=180) %}
                        {% set time_diff = now - last_total_increase.timestamp %}
                        {% set minutes_diff = time_diff.total_seconds() // 60 %}
                        <div class="rounded-lg" style="width: 75%;"><mark class="ml-3 rounded-md text-xs">{{
                                minutes_diff }} minutos atrás</mark>
                        </div>
                        <div class="text-right mr-20 mt-1"> <!-- VER POSICION PARA MOBILE Y EN ERROR-->
                            <a href="https://github.com/MiguelGalp/opiodelospueblos"><img id="github_icon"
                                    src="./static/public/github-logo.png" alt="GitHub" width="20" height="20" /></a>
                        </div>
                        {% else %}
                        <div class="rounded-lg" style="width: 50%"><mark class="ml-3 rounded-md">algo pasa...</mark>
                        </div>
                        <div class="text-right" style="width: 50%; position: relative; bottom: 5px;">
                            <a href="https://github.com/MiguelGalp/opiodelospueblos"><img id="github_icon"
                                    src="./static/public/github-logo.png" alt="GitHub" width="12" height="12" /></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- COMPONENTE ÍNDICE-->
                <div class="relative flex flex-col min-w-0 break-words bg-white bg-clip-border border border-solid border-gray-200 rounded-md">
                    <div class="card-body p-5" style="background-color: var(--background-body);">
                        <div class="p-0">
                            <div
                                style="height: 40px; width: {{ '%.2f'|format(min(total_engagement * 1000, 100)) }}%; background-color: #000; opacity: 30%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between" style="margin-top: 3px; margin-left: 30px;">
                    <div class="flex items-center"
                        style="filter: var(--legibilidad); font-size: 24px; font-weight: 900; color: var(--texto-amarillo-pleno); width: 50%; position: relative; bottom: 62px; left: 55px; z-index: 2;">
                        {{ '%.2f'|format(min(total_engagement * 1000, 100)) }}%
                    </div>
                </div>
            </div>
            <div class="w-full md:w-3/12 mx-1">
                <div class="-mt-5 text-center" style="letter-spacing: 0%;">
                    <div class="text-uppercase inline mr-20 relative right-1 top-3 font-extrabold"
                        style="font-size: 20px;">
                        ODIO <div class="inline" style="opacity: 40%;">OÍDO:</div>
                    </div>
                    <div class="text-uppercase"
                        style="font-size: 28px; font-weight: 900; margin-top: -4px; color: var(--texto-azul-pleno);">
                        TOXICIDAD <div class="inline">EN</div>
                    </div>
                    <p class="text-uppercase text-44 font-extrabold relative right-1"
                        style="font-size: 44px; opacity: 40%; margin-top: -26px;">  <!-- CLASES NO TAILWIND-->
                        TWITTER
                    </p>
                </div>
            </div>
            <div class="w-full md:w-2/12 text-center hidden">
                <img id="hero" src="./static/public/Argentina.png" alt="MG" class="pic-size negative-margin" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    document.getElementById('chile').addEventListener('click', function () {
        console.log('Chile clicked');
        
        // Make an AJAX request to the new route
        fetch('/api/total_engagement_chile')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log(data.total_engagement);

                // Update the width of the engagement bar
                var engagementBar = document.querySelector('.card-body .p-0 div');
                engagementBar.style.width = (Math.min(data.total_engagement * 1000, 100)).toFixed(2) + '%';

                // Update the content of the percentage div
                var percentageDiv = document.querySelector('.flex.justify-between > div[style*="filter: var(--legibilidad)"]');
                percentageDiv.textContent = (Math.min(data.total_engagement * 1000, 100)).toFixed(2) + '%';
            });

    });

    document.getElementById('argentina').addEventListener('click', function () {
        // Change the hero image source
        document.getElementById('hero').src = "./static/public/Argentina.png";

        // Change the color of the hero text


        // Make an AJAX request to the new route
        fetch('/api/total_engagement_argentina')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log(data.total_engagement);

                // Update the width of the engagement bar
                var engagementBar = document.querySelector('.card-body .p-0 div');
                engagementBar.style.width = (Math.min(data.total_engagement * 1000, 100)).toFixed(2) + '%';

                // Update the content of the percentage div
                var percentageDiv = document.querySelector('.flex.justify-between > div[style*="filter: var(--legibilidad)"]');
                percentageDiv.textContent = (Math.min(data.total_engagement * 1000, 100)).toFixed(2) + '%';
            });

    });
</script>
{% endblock %}